
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
   
}
.navbar{
background:brown; 
font-family: calibri; 
padding-right: 15px; 
padding-left: 15px;
}

.navdiv{
display: flex; 
align-items: center; 
justify-content: space-between;
}

.logo a{
font-size: 35px; 
font-weight: 600; 
color: rgb(255, 244, 244);
}

li{
list-style: none; 
display:inline-block;
}

li a{
color: white; 
font-size: 18px; 
font-weight: bold; 
margin-right: 25px;
}





section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: white;
}
.form-box{
    position: relative;
    width: 450px;
    height: 450px;
    background:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}
h2{
    font-size: 2em;
    text-align: center;
   
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid black;

}
.inputbox label{
    position: absolute;
    top: 40px;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid~label{
    top:-5px
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: lem;
    padding: 0 35px 0 5px;
    color: black;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.2em;
    top: 20px;
}
.forget {
    margin: -15px 0 15px;
    font-size: -9em;
    color: black;
    display: flex;
    justify-content: space-between;


}
.forget label input{
    margin-right: 3px;
    color:black;
    
}
.forget a{
    color: black;
    text-decoration: none;
    color: blueviolet;
}
.forget label a:hover{
    text-decoration: underline;
    color: blueviolet;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    background: blueviolet;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: lem;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}
.register{
    font-size: -9cm;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
   


}

.register p a{
    text-decoration: none;
    color: blueviolet;
    font-weight: 500;
}
.register p a:hover{
    text-decoration: underline;
    color: blueviolet;
}

/* content */
.content{
    display:grid;
    grid-template-columns: 50% auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Content text left side*/
.content .content-left{
    display: block;
    width: 100%;
}

.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.content .content-left .info p{
    font-size: 20px;
    line-height: 2pc;
    margin-bottom: 30px;
    font-family: sans-serif;
}

/* content button*/
.content .content-left button{

    width: 500px;
    height: 40px;
    border-radius: 30px;
    background: brown;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: lem;
    font-weight: bold;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-left: 100px;

    
   
}
/* Content Image*/
.content .content-right {
    display: block;
    width: 100%;
   

}

.content-right img{
    width: 400px;
    height: auto;
    position: relative;
    /* animation: rotate 10s linear infinite ; */
}



 
/* @keyframes rotate  {
    
    0%{
        transform: rotate(0deg);
        }
    100%        {
    transform:rotate(360deg);
    }
}  */


/* Product Page*/
 h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
} 

a{
    text-decoration: none;
}

.ListProduct{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
} 

 .item{
    width: 25%;
    margin: 30px;
    box-sizing: border-box;
    float:left;
    text-align:center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: white; 


} 


  .item:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, 8px);
 }


 img{
    width: 250px;
    height: 250px;
    text-align: center;
    margin: 0 auto;
    display: block;
 }

 p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;

 } 

 h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 0;
 }

 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
 }

 li{
    padding-top: 5px;
 }

 .fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
 }

 .checked{
    color:#ff9f43;
 }

 .fa:hover{
    transform: scale(1,3);
    transition: .6s;
 }

 .item:button{
    text-align: center;
    font-size: 24px;
    color: whitesmoke;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
 }

 .buy-1{
    background: #2183a2;
 }
 
 .buy-2{
    background: #3b3e6e;
 }

 .buy-3{
    background: #ff9f43;
 }

 .buy-4{
    background: green;
 }

 .buy-5{
    background: black;
 }

 .buy-6{
    background: blueviolet;
 }

 @media(max-width:1000px){
    .content{
        width: 45pxS;
    }
 }

 @media(max-width:750px){
    .content{
        width: 100%;
    }
 } 

 .inputbox .error{
    color: red;
    font-size: small;
 }

 
 /* css for lower part of the body: footer  */
#footer {
    display: flex;
    background-color: black;
    color: #fff;

    justify-content: space-between;
}

.footer1 {
    display: flex;
    flex-direction: column;
}

.footer1 h1 {
    display: inline-flex;
}

.footer1 img {
    height: 40px;
}

.foot ul {
    list-style: none;
}

.foot ul h3 {
    padding-bottom: 10px;
    padding-left: 10px;
    
}

.foot li {
    padding-left: 10px;
}

.foot a {
    text-decoration: none;
    color: #fff;
}

.foot1 {
    float: right;

}

.foot1 h4{
    display: inline;
    padding-left: 5px;
}

.foot1 a {
    padding-top: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    transition: .9s all ease;
}




